@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?blel5u');
  src:  url('fonts/icomoon.eot?blel5u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?blel5u') format('truetype'),
    url('fonts/icomoon.woff?blel5u') format('woff'),
    url('fonts/icomoon.svg?blel5u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
  content: "\41";
  position: relative;
  left: 880%;
}
.icon-user:before {
  content: "\42";
  left: 980px;
  position: relative;
}
.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\44";
  position: relative;
  left: 930px;
}
.icon-cross:before {
  content: "\45";
}
.icon-circle-down:before {
  content: "\46";
}
.icon-pinterest2:before {
  content: "\47";
  color: red;
}
